

.featured-item{
    background-image: linear-gradient(to bottom,  transparent 0%, rgb(43, 40, 40) 100%), url('../../../assets/home/featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}